body{
    min-height: 100vh;
    background-color:navajowhite;
}

.cardDetails{border-style: double;
    justify-content: space-around;
    display: grid;
    border: #a5a597;

}
.main{
    align-items: center;
    background-color:#a5a597;
    text-align: center;
    box-sizing: border-box;
    border: 0cm;
    
}

.inline{
  
    
    justify-content:space-around;
    flex-wrap:wrap;
    text-align: center;
    

}
.contact{
    text-align: center;
    text-decoration-color: blue;
    text-shadow: #a5a597;
    font-size: small;
}
.footer{
    background-color:#a5a597; 
    text-align: center;
    text-decoration-color: blue;
    text-shadow: #a5a597;
    font-size: small;
    height: 40px;
    box-sizing: border-box;
    border: 0cm;
    font-size: 12px;
   
   
}
.img{
    max-width:100%;
    height:auto;
}
@media only screen and (min-width: 500px) {
    .main{
        max-width:100%;
        margin-left:16px;
    }

    .img{
        max-width:100%;
        height:auto;
    }
    .footer{
        max-width:100%;
        margin-left:16px;

    }
    .inline{
  
    
        justify-content:space-around;
        flex-wrap:wrap;
        text-align: center;
        width:auto;
        
    
    }
}